@font-face {
    font-family: "ArcadeClassic" ;
    src: url(fonts/ARCADECLASSIC.TTF) format('truetype');
}    
@font-face {
    font-family: "AppleII";
    src: url(fonts/PrintChar21.ttf) format('truetype');
}


body {
    font-family: "ArcadeClassic", sans-serif;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 1 20em;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 7vh;
}

.simpleText {
    justify-content: center;
    width: auto;
    margin: 40px 0 60px 0;
    align-self: center;
    text-align: center;
    font-size: 5vh;
    color: rgb(82, 105, 125);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: "ArcadeClassic", sans-serif;
    font-size: 4vh;
    flex-shrink: 2;
    border-radius: 30px;
    border-color: rgb(82, 105, 125);
    border: 2px solid;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 240, 247);
    color:rgb(82, 105, 125);
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.results {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-self: center;
    align-content: center;
    background-color: #282828;
    font-family:"AppleII";
    color: #33FF33;
    max-width: 1200px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    padding: 6px;
}

.scoreTable {
    display: flex;
    justify-content: space-around;    
}

#you {
    color:rgb(154, 24, 228);
    font-size: 3vh;
}

#CPU {
    color:crimson;
    font-size: 3vh;
}

#youScore, #cpuScore {
    text-align: center;
    margin-top: 10px;
}

.summary {
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
    font-size: 2vh;
}

.matchMsg {
    margin-top: 40px;
    font-size: 2vh;
    text-align: center;
}

#endMsg {
    margin-top: 60px;
    font-size: 2.5vh;
    text-align: center;
}


