@font-face {
    font-family: "ArcadeClassic" ;
    src: url(fonts/ARCADECLASSIC.TTF) format('truetype');
}    
@font-face {
    font-family: "AppleII";
    src: url(fonts/PrintChar21.ttf) format('truetype');
}


body {
    font-family: "ArcadeClassic", sans-serif;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}

.simpleText {
    justify-content: center;
    width: auto;
    margin: 80px 0 160px 0;
    align-self: center;
    text-align: center;
    font-size: 60px;
    color: rgb(82, 105, 125);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: "ArcadeClassic", sans-serif;
    font-size: 60px;
    border-radius: 30px;
    border-color: rgb(82, 105, 125);
    border: 2px solid;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 240, 247);
    color:rgb(82, 105, 125);
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.results {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    background-color: #282828;
    font-family:"AppleII";
    color: #33FF33;
    width: 2000px;
    height: 500px;
    padding: 6px;
}